<!-- Main wrapper -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href=""><img src="{{ asset('assets/zhauddeiieygftro') }}/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="text-center collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">{{ app.user.name }} {{ app.user.surname }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">LOGOUT</a>
                            </li>
                            {% else %}

                                <li class="nav-item">
                                    <a href="/loginuser" class="nav-link">LOGIN</a>
                                </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>