<aside
        class="app-navbar">
    <!-- begin sidebar-nav -->
    <div class="sidebar-nav scrollbar scroll_light">

        <ul class="metismenu" id="sidebarNav">
            <li class="nav-static-title">Personal</li>
            <li>
                <a href="/admin/category">
                    <i class="dashicons dashicons-category"></i>
                    <span class="nav-title">Category</span>
                </a>

            </li>
            <li>
                <a href="/admin/product">
                    <i class="dashicons dashicons-products"></i>
                    <span class="nav-title">Fruits</span>
                </a>

            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                    <i class="nav-icon ti ti-layout-column3-alt"></i>
                    <span class="nav-title">Orders</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="/admin/orders/new">New</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar-nav -->
</aside>
